<div class="row-offcanvas row-offcanvas-left">
  <%= render 'sidebar' %>
  <div id="main">
          <p>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"> Hashtags</i></button>
          </p>
          <h2 class="text-center">#<%= @hashtag %></h2>
            <%= render 'twitter' %>
            <%= render 'more_button' %>
    </div>
  </div>


    </div> <!--/12 columns-->
  </div> <!--/Main-->
</div><!--/row-offcanvas -->