#sidebar.sidebar-offcanvas
  .col-md-12
    %h3 Settings
    .btn-group-vertical{"aria-label" => "...", :role => "group"}
      = link_to "List of Contests", pages_path, class: "btn btn-default"
      = link_to "New contest", new_page_path, class: "btn btn-default"
      .btn-group{:role => "group"}
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
          Manage Contests
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - @user_tags.each do |page|
            %li
              = link_to page.hashtag, edit_page_path(page)
      .btn-group{:role => "group"}
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
          Curate Contest
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          - @user_tags.each do |page|
            %li
              = link_to page.hashtag, page_path(page)