.container
  .row
    .col-md-6.col-md-offset-3
      .well.well-sm.new-form
        %h3 Contest Pages
        .list-group
          %a.list-group-item{:href => "#"}
            %h4.list-group-item-heading List group item heading
            %p.list-group-item-text This is the description
