<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>Hashtags</h3>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">#WhyIStayed</a></li>
          <li class="active"><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
          <li><a href="#">Section</a></li>
        </ul>
      </div>
  </div>
  <div id="main">
          <p>
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <h2>Why I Stayed</h2>
            <%= render 'twitter' %>
  </div>
</div>


    </div> <!--/12 columns-->
  </div> <!--/Main-->
</div><!--/row-offcanvas -->