* { border-radius: 0 !important;}

.new-form { 
  margin-top: 50px;
}

.more_btn {
  margin-bottom: 50px;
  background-color: darkgrey;
  border: darkgrey;
}

.edit_button {
  margin: 20px 20px;
  background-color: darkgrey;
  border: darkgrey;
}


.page-show {
  background-color: #ededed;
}

#tweet_text {
  overflow: hidden;
}

#social-area {
  width: 290px;
}

#twitter_image {
  width: 258;
  height: auto;
}

#published_page {
  margin-top: -50px;
}

.highlighted {
  border-style: solid;
  border-color: #FFFF00;
}

.header_image {
  width: 100%;
  height: auto;
}

.social_icons {
  margin: 5px 3px 0 0;
}