%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
  .nav-side-menu
    .brand Brand Logo
    %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
    .menu-list
      %ul#menu-content.menu-content.collapse.out
        %li
          %a{:href => "#"}
            %i.fa.fa-dashboard.fa-lg
            Dashboard
        %li.collapsed.active{"data-target" => "#products", "data-toggle" => "collapse"}
          %a{:href => "#"}
            %i.fa.fa-user.fa-l
            Account
            %span.arrow
        %ul#products.sub-menu.collapse
          %li
            = link_to "Change Password", edit_user_password_path
          %li.active
            = link_to "Logout", destroy_user_session_path, method: :delete
        %li.collapsed{"data-target" => "#service", "data-toggle" => "collapse"}
          %a{:href => "#"}
            %i.fa.fa-globe.fa-lg
            Services
            %span.arrow
        %ul#service.sub-menu.collapse
          %li New Service 1
          %li New Service 2
          %li New Service 3
        %li.collapsed{"data-target" => "#new", "data-toggle" => "collapse"}
          %a{:href => "#"}
            %i.fa.fa-car.fa-lg
            New
            %span.arrow
        %ul#new.sub-menu.collapse
          %li New New 1
          %li New New 2
          %li New New 3
        %li
          %a{:href => "#"}
            %i.fa.fa-user.fa-lg
            Profile
        %li
          %a{:href => "#"}
            %i.fa.fa-users.fa-lg
            Users